@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 80px;

    background-color: #808088;
}

.main-header h1 {
    margin: 0;

    text-align: center;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100vw;
    min-height: calc(100vh - 80px);
    padding: 16px 32px;
}

div {
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}

.circle-s {
    width: 150px;
    height: 150px;
}

.circle-m {
    width: 200px;
    height: 200px;
}

.circle-l {
    width: 250px;
    height: 250px;
}

.circle-xl {
    width: 300px;
    height: 300px;
}
