* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-size: 16px;
}

.main-header {
    height: 96px;
    padding: 28px 0;
    background-color: black;
}

.main-header h1 {
    margin: 0;

    text-align: center;
    color: white;
}

main {
    padding: 16px 32px;
}

table {
    width: 600px;
    margin: 0 auto;

    border: 2px solid black;
}

td {
    text-align: center;
}

th,
td {
    border: 2px solid black;
}
