.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: calc(100vh - 80px);
}

.page-not-found h1 {
    font-size: 48px;
    text-align: center;
}

.page-not-found button {
    width: 200px;
    height: 50px;

    background-color: #0070c9;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.page-not-found button:hover {
    background-color: #0261ae;
}
