.main-header {
    display: flex;
    align-items: center;

    width: 100vw;
    height: 80px;
    padding: 16px;

    background-color: #1d1d1f;
    color: white;
}

.main-header h1 {
    margin: 0;
}
