.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: calc(100% - 38px);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
}

.login-form button {
    width: 100%;
    height: 40px;

    background-color: #0070c9;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0261ae;
}

.signup-link {
    font-size: 16px;
    color: #0070c9;
}
